<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navbar">
    <style>
        .nav-shared { display: flex; justify-content: center; background-color: #444; padding: 0.8rem; }
        .nav-shared a { color: #fff; text-decoration: none; margin: 0 1.5rem; font-weight: bold; }
        .nav-shared a:hover { color: #679b9b; }
    </style>
    <nav class="nav-shared">
        <a href="/">Home</a>
        <a href="/clubs">All Clubs</a>
        <a href="/create-club">Create Club</a>
        <a href="/login">Login</a>
    </nav>
</div>

</body>
</html>